## Print top 100 prime numbers

In [9]:
# n= 10
# flag=1
# for i in range(2,n):
#   flag=1
#   mid_num = int(i/2)
#   for j in range(2,mid_num+1):
#     if i%j ==0:
#       flag = 0
    
#   if flag == 1:
#     print(i)

2
3
5
7

In [23]:
"""
Time Complexity= O(100*mid_num!)
Print top 100 prime numbers
"""
n= 1
flag=1
count = 0
i = 2
while count <10:
  flag=1
  mid_num = int(i/2)
  for j in range(2,mid_num+1):
    if i%j ==0:
      flag = 0
    
  if flag == 1:
    print(i)
    count = count+1
  i = i+1

2
3
5
7
11
13
17
19
23
29